@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --background-color: #141414;
    --light-gray: #2C2C2C;
    --text-color: #FFFFFF;
    --secondary-text-color: #B3B3B3;
    --cta-color: #E50914;
}

body {
    color: var(--text-color);
    background: radial-gradient(circle at center, #1c1c1c 0%, #000000 60%, #8b0000 100%);
}

.head {
    text-align: center;
    height: 85vh;
    position: relative;
    padding: 4rem 10rem;
}

.logo {
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    color: var(--cta-color);
    user-select: none;
}

.slogan {
    color: var(--secondary-text-color);
    user-select: none;
}

.text {
    color: var(--text-color);
    font-weight: 700;
    font-size: 5.5rem;
    font-family: "Roboto", sans-serif;
    padding: 2rem 0;
}

.ready {
    color: var(--secondary-text-color);
    font-size: 2rem;
    padding: 2rem 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1.3rem;
}

.signbtn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: var(--cta-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s ease;
}

.signbtn:hover {
    background-color: #B00610;
}

.guestbtn {
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 0.1rem solid var(--secondary-text-color);
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--light-gray);
    color: var(--text-color);
    transition: 0.2s ease;
}

.guestbtn:hover {
    background-color: #3A3A3A;
}

.guestbtn i {
    padding-right: 1rem;
}

.faq {
    padding: 0 10rem;
}

.faq-text {
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    padding-left: 1.3rem;
}

.faq-item {
    margin: 0.9rem 0;
}

.faq-question {
    cursor: pointer;
    padding: 2rem 3.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 0.1rem solid var(--secondary-text-color);
    color: var(--text-color);
    background-color: var(--light-gray);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    opacity: 0;
    transform: translateY(2rem);
}

.faq-question.show {
    opacity: 1;
    transform: translateY(0);
}

.faq-question:hover {
    background-color: #3A3A3A;
}

.faq-question i {
    transition: transform 0.2s ease;
}

.faq-question.active i {
    transform: rotate(45deg);
}

.faq-answer {
    background-color: var(--light-gray);
    color: var(--text-color);
    padding: 0 3.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.faq-answer p {
    padding: 1.5rem 0;
}

#languageSelect {
    padding: 0.5rem 0.7rem;
    border-radius: 0.7rem;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    background: black;
    color: var(--text-color);
    border: 0.1rem solid white;
}

#languageSelect:focus {
    border: 0.1rem solid var(--text-color);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem 0 10rem;
    margin-top: 6.2rem;
}

.footer-col li {
    list-style: none;
    padding: 0.3rem 0;
}

.footer-col li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 1.3rem;
    display: inline-block;
    transition: all 0.2s ease;
}

.footer-col li a:hover {
    color: var(--cta-color);
    transform: translateX(0.2rem);
}

.footer-col li a:hover .social-name {
    visibility: visible;
}

.footer-col h4 {
    position: relative;
    font-size: 1.5rem;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    height: 0.1rem;
    width: 4rem;
    background-color: red;
    border-radius: 1rem;
}

.footer-col ul {
    padding: 1.7rem 0;
}

.socials li a {
    font-size: 1.6rem;
}

.social-name {
    visibility: hidden;
    padding-left: 1rem;
}

.rights {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    user-select: none;
}

@media (max-width: 630px) {
    .text {
        font-size: 3rem;
    }
    .faq-question {
        font-size: 1.2rem;
    }
    .faq-answer {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .footer-col h4 {
        font-size: 1.2rem;
    }
    .footer-col li a {
        font-size: 0.9rem;
    }
    .rights {
        font-size: 0.7rem;
    }
}

@media (max-width: 504px) {
    .text {
        font-size: 2rem;
    }
    .faq-question {
        font-size: 0.9rem;
        font-weight: normal;
    }
    .faq-answer {
        font-size: 0.9rem;
        font-weight: normal;
    }
    .faq-text {
        font-size: 1rem;
    }
    .faq {
        padding: 0 5rem;
    }
    .footer-col h4 {
        font-size: 1rem;
    }
    .footer-col li a {
        font-size: 0.6rem;
    }
    .rights {
        font-size: 0.7rem;
    }
    #languageSelect {
        padding: 0.2rem 0.4rem;
        letter-spacing: 0;
        font-size: 1rem;
    }
    .ready {
        font-size: 1.2rem;
    }
    .head {
        padding-bottom: 0;
        padding-top: 14rem;
        height: 70vh;
    }
    .signbtn {
        padding: 0.5rem 1.5rem;
        font-size: 1.3rem;
        font-weight: normal;    
    }
    .guestbtn {
        padding: 0.5rem 1.5rem;
        font-size: 1.3rem;    
    }
    .row {
        padding: 2rem 5rem 0 5rem;
    }
}

@media (max-width: 446px) {
    .text {
        font-size: 1.5rem;
    }
    .slogan {
        font-size: 0.8rem;
    }
    .faq-question {
        font-size: 0.9rem;
        font-weight: normal;
        padding: 1rem 2.5rem;
    }
    .faq-answer {
        font-size: 0.9rem;
        font-weight: normal;
    }
    .faq-text {
        font-size: 1rem;
    }
    .faq {
        padding: 0 5rem;
    }
    .footer-col h4 {
        font-size: 1rem;
    }
    .footer-col li a {
        font-size: 0.6rem;
    }
    .rights {
        font-size: 0.7rem;
    }
    #languageSelect {
        padding: 0.2rem 0.4rem;
        letter-spacing: 0;
        font-size: 1rem;
    }
    .ready {
        font-size: 1.2rem;
    }
    .head {
        padding-bottom: 0;
        padding-top: 14rem;
        height: 70vh;
    }
    .signbtn {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        font-weight: normal;    
    }
    .guestbtn {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;    
    }
    .buttons {
        gap: 1rem;
    }
    .footer-col li {
        padding: 0;
    }
    .row {
        padding: 2rem 5rem 0 5rem;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 1.5rem;
    }
    .slogan {
        font-size: 0.8rem;
    }
    .faq-question {
        font-size: 0.7rem;
        font-weight: normal;
        padding: 1rem 2.5rem;
    }
    .faq-answer {
        font-size: 0.9rem;
        font-weight: normal;
    }
    .faq-text {
        font-size: 1rem;
    }
    .faq {
        padding: 0 5rem;
    }
    .footer-col h4 {
        font-size: 1rem;
    }
    .footer-col li a {
        font-size: 0.6rem;
    }
    .rights {
        font-size: 0.7rem;
    }
    #languageSelect {
        padding: 0.2rem 0.4rem;
        letter-spacing: 0;
        font-size: 1rem;
    }
    .ready {
        font-size: 1.2rem;
    }
    .head {
        padding-bottom: 0;
        padding-top: 14rem;
        height: 70vh;
    }
    .signbtn {
        padding: 0.5rem 1.5rem;
        font-size: 0.7rem;
        font-weight: normal;    
    }
    .guestbtn {
        padding: 0.5rem 1.5rem;
        font-size: 0.7rem;
    }
    .buttons {
        gap: 1rem;
    }
    .footer-col li {
        padding: 0;
    }
    .row {
        padding: 2rem 5rem 0 5rem;
    }
}